/Bezier.class
/BezierDeLuxe.class
/CenteredText.class
/DrawingPaths.class
/MouseListeners.class
/Nikolaus.class
/PaintDemo.class
/PropertyShapeBinding.class
/ShapesLayout.class
/SomePaths.class
/SomeShapes.class
/Texts.class
