/Aufgabe1a.class
/Aufgabe1b.class
/Aufgabe1c.class
/Aufgabe1d.class
/Aufgabe1e.class
/Aufgabe1f.class
/Aufgabe2$1.class
/Aufgabe2$2.class
/Aufgabe2.class
/Aufgabe3.class
/Aufgabe4.class
/MySimpleChangeListenerX.class
